  


  #body {
      margin: 0;
      background-color: #1db3ff;
      margin: 0;
  }

  table {
      width: 100%;

  }

  td {
/*      border: black solid 1px;
*/      font-family: 'Bungee Inline', cursive;
      font-size: 2vw;
      width: 20%;
      color: black;
      width: 20%;
      height: 300px;
      margin:0px;
  }




  a {
      text-decoration: none;
      color: #1db3ff;
  }

  a:hover {
      color: #fe4300;


  }

  .image-link {
      position: relative;
      top: 0px;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 400px;
  }

  #one {
      background-image: url("./imgs/take-apart.gif");


  }

  #two{
    background-image:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMSEhUSExIVFRUVFRUVFRUVFxUVFRUVFRUXFhUVFRUYHSggGBolGxUVITEhJSktLi4uFx8zODMtNygtLisBCgoKDg0OGhAQGi0lHx4tLS0tLS0tLS0tLS0tLTUtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLSstLS0tKy0tLf/AABEIAJkBSgMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAFAgMEBgcBAAj/xABMEAABAwIDBAUJBAcFBQkAAAABAAIDBBEFITEGEkFRE2FxgZEHFCIyUnKhscFCU5LRFTNDYoKy8BYjRJPhF3Oiw9I1VGNkdIPC0+L/xAAZAQADAQEBAAAAAAAAAAAAAAAAAQIDBAX/xAAkEQACAgICAgICAwAAAAAAAAAAAQIRAxIhMRNBBFEiYRRCcf/aAAwDAQACEQMRAD8AM4tjbYWm+vWVlm0G1EkhLGfBLqZZayTcZe2ef5q37O7EsYA6QXdkc1FlKJnuFYVVyPDwxxtnyC2jZ10hjFwRbJFIqeNtg1o1zU2BjW5c/qmSMBlxYpNNgzDowIhSxtHreCIRkcFDmukbRwtq2BHbPtP2Gphuy7GneAbdWQlKCNmPxoqeK4XvMLXN7COB4G6CYVUuifuO4adi0VwBVb2iwTebvxj0xmBpfqUyl7BY/QUo5xI2xWb7fYO+k6SohjD4pP1jRkYpAbsmYRpYo9gmJ2O6bgjIg6gjgVayGzMLXAEEWIOhBWsZbLgwlFxZneAbQ78TOlIDy0bwvx5hQNq8IbM3faBdANttn5cOn34wTA83Ydd067h+iIYFj4e0NeUfod3yU10G6SDqEoKw7TYd+0aFWA9Zvgtcklq49yZc+wum+lSKbJIKkRsUONyebImJEwMTkFLcqK2oRDDJxvDtWcujWNBTzYMbohzpLmytEsAc3tCAT0e6SsFO2auHsE1tMCgNTDYq0yEINUx3JK6IM55oEpbJbJ2WFR3NWhBKbOpEciGByeZIk0CCscikslQqORPtkUmm1E4yXTrQoMUilOlsENApEevmsq9O/eKmYhUXyUJgVRREpWLY1PBiS1LDlRJ6y8VxzkguSAUSk3SS5IugDdtlsAZTMbcekb3JVjjZvDLSyjyx3dbhcFS6L0QQeCsIvgS2KyeB9Hrah+L4uyGzb3e/JjRq53AAIhTQODBvj0yAXdR5KJyroeOGz56G+mNyptHUIbVejmkUWItvZcSlUuT0mrjwiyB910OUFlSOd06yZdKkczRKXbJjpUtrlQqZXtoNmy93TQECT7TTk1/fwco2FVz2O3JGljuThbw5jrVvAUSupmSDdeL8jxB5g8El+PKFJbqhqeFsrc2hw1sRcKOzAqV2fm8d/dC7A10JsTvN58R2qa7L0m6cVpJKatHPFuDpjIwantboWeATsOEwN0hjHY0LxqQNUttWOaxtHXq/QqTDoiLGNhB4bosqXtL5MaWcF0Legk1Bb6hPW3TwV3ZOCnA8J8EtM+ZMXwmalkMUzC1w05OHNp4hRF9LY1gcFWzcmjDhwPEHmDqCs6xnyUFt3U0u9yZJkewOH1CZnoZdYrsUpabovimCT0xtNE5nWR6J7HDIqB0KYnaCtNtAWixTFVjO8hM8Silijxxse7J0laXHVdDslFjYnbKybEyqHOFLITMjLoQqB5KW1yVJClQQFU2TQtjkvpUp0dky5TdlkyGRJqqlR2yWCizyJ0SxD3XKcYmmAk2AuepHMN2YqZvVjIHMptpdgouXSBRcub6vFB5Npneu63YFccG8m8Edi4bx681HlXo1WCXvgx6mopZPUjce5HKDYirl+zujrW60WBQxj0WDwRBkDRoAlcmNY4rsyTCfJdoZXE9WgVpbsDTAAbgVzdZI3glX2WqXSBL5LNzyNh8CgeNbQOL2QUrekmfdpaPs5ZuceAHMpva/GGwxk71jY2zQzyWPb0clW43kle4A+yxmVh2m58FplnqjHBj3dFs2V2PMLvOKmTpqixt7EQOoZfU/vfJWaVqYpay6fc8FZJp9HQ4NA2tp7gql4m8wyZ5A8VodkJx3CmzMIIWOXHfKNsWSnTAuHVpyzVgpam6zTpZaKTdfd0ROupZ19Y6la6SsuA5puCLgjMFRCTRrkx2Wbp1Kimyuq75/ldOCtyWqyEeK0GZcSAyumHYkOarVRPc6plspvmVHmk2bfx4pFwhqQ5SIsuzkq1SVNtEcppcs1tCbOTLiT7EYpTktuztCqwxktJB1CuoCpu2WBPznhaSftsaLk/vADjzWfyI7flHs0+JJQekuV6CuGYhvDVGop1nGBYnYDn9VZKavLyGA5nMnkFzwzUdGTDbLbFLfin2oVRNRIGy7cbbVs4ckUmcqoGvaWvaHA6ggEHuKzHbLYNgDpqQWIuXRcCOO5yPUtCqakhDZqq5TlKgjj27MBmUeysW1lD0dVKALAu3h2O9L6lAnMV98nLJU6PNC6UleQSJK4I0sBLAQykMGFSIKZKEamU2Shs0jCwVVwkKG6NWQ0rpTZjSSjWF7AySZyGw5BQshXib6M8DCTYAk8hmrBgewtRUkEtLG9eq1vA9iIIbHdBPMq1w07WCwACvdvoXiS7KTs9sBBTgEtBdzOatMFIxmQaFOeVDmltos5JLk6IfSHg0JxpCgCRx4JbWOKIy/Q5R+2TXSgJiWrA4pIpCdSnG4e1X+TM6iiBNiCi+fHkUcFE3klebN5JPHJ+ylkgvR8uY/j0lU8lxO7c2Cvfk6qL0gaNWvd8Tf6rLQtW2NoejpmEauJJ+X0VfJrSjH4be9lzosSc3VWKhrg4KnRohSy2XHFuPR3zqSLcJU6DdCKWa/FTY5l1Rkckog/HcIbK03Cz6WOaiedwb0d82H5tPA/Baq54IQDGqIOByWeWH9kbYcn9WBKCsZO3eYe0HJzTyI4KU1rgFUa6ifE/pI3FjhxHEciOIUqj2u3fRnZb99ty3vbqPis0kzodroNyFJD1ynxOGXNkjT2EX8E8Ygc09K6DdsfpJUXgq8kDa2ydaSE1aM5JMs0FYprJwRcqosqCF79IEu3Qe1DyNErCmGsUwWCpuSN1/CRmTv4vaHageGYVNTzOD/AEmkDceNHa5Hker5oxSVFsuKnsluM0nFT59lqcoLX0SKJimS5KNSOF06GGRxDdBqV0w4RyZO7ZAq3IWWXKI4tSujzvcH4KvY1ifQs3W/rHDL90e128kmm3TKU4xjsmUba9/SVUlsw2zL+6LH43QJ1MrD5rdeFIFouFRxt7OysupDyXW0ZVlNIFzzcIseoAZR9SdbSIq+OybskPhEAU/erHgWxcs1nOaWt68rq6bHbJxholeN5xzz0HYrzExrRYBPx32Ly0VDC9no4BbdF0RNhon8Sms7JQTvFYySi6R2wuSseE1l0TE6L0NJzU2OMBOKZMnFEQQuKV5sApbnJiV6pxRCk2MpYUWWYBejL3aBRtybNcE5r7JXSphtOeJSrALRMxcUxTp0npl4OCVvBOydaPkVhzC3vBcK6OliHEMBPacz81gsRsQToCPmvoagrAWt5EC3YQo+V6D4a7Y0IEh793VEja6ckw9rwuWvo7G/si0tRyKJwVCq9fhk8J3ondxzBTuF42HEMkHRyaWPqu90/RVF0KULVouLJUxVZqLHKnDLktb4MlHkAYrSbwKrdVhl+CudQy+aiPgHeueVp8HdCqKFLgQJuBY8CMiO9PwSVUHqvLx7L8/B2qufmrVx1CDwTjJilQEw/acE7sjC13LW/ZzR6mro36OCGV2ANeNEIqcKnYLNcTbS+ZHY7W3Voq2M9U+i3SWtl3BMwtt9esqqQY7LEd2dht7Q+qseG1zJBdtku2Vq0grFNu9vFHsHpDKN55IbwtqVX2RgkDmQL8rlW6A7mQGQyHYt8OO+zm+VlcYpR7Y6/CbZxuJ/ddr3FEMNyYRazrnevr1KJHUJ11Y1pa0mxdkOsjOy3UFF2jglklJUyDtNVCOFzzna2XM3yHissqJHPcXuNyTf/QK+7cz/AN01nF7r26m/6kKjlqcuyVdUMALu6lOXgVBfQ08Jhyl7pKX5k86Md4FFEuQLdGkPsFIrg5g9R3gVB2cIqayOF/qm5I524J0KzWdjcU6WBuRyFvBHXB5T+H0LImhrWgADQKW54stEmJSS9AMxc9U0XAJ6dxLiAEycLkdxssJJ+jui4pfk6OGoskOrQpH6FIGZulto2gaIqQtoeiEJ3O0CeZTOdqpIaAu9KhL7By+jkdG0cE7YBNGZNvlV8Ijl9nZpFCdLmnJJFGeVnI1hwKdMvdMoxYlbqSTKbR8srbdkXF9JA4/dtHhl9FkU2HEC9lpfkwq96ndEdYnZe67MfG60z/lE5vjNxkXaKPJT6V9lEiapDW2XMotHVJ2FRE1wzQbF9m2SA5KbBOQprZrrVqMlyZpyg7RSYZpaU7kt3x8HavaOv2h8e1GIpA9u8xwcDoQilZTNeLEKsVGFSROL4XFp4jVru0LJpx76N01P9MnSuKZc2+fLL6lNU2LNcdyYdG/n9h3fw70S83/r6pa30aqWvDIFk/E5OOplwwoUKFKaY8zNPNp2lMMCkxFWkYMjVmCRyAiwVQxLZSSEl8Di3jbh4LQmPXn2OqTgvRcM0omeUONPjO7O0t4bw9X/AEV7wjGrgB53m8HjX+Ice1QcRwxjgcgqzVYRKzOCRzDe9mn0T2jRTGcos0yqGWPRqJnYGl5e0NAuXEgADmSqjieLufWQsIAhnY00soOrzq19/VcSBYdnNVqip5nksqHudICN1h0IFySOGeVss8xkrtNQR19Gadto3sO/ARkYZgd4NbybcEt7x9ldTbmuTzGvHLgPYlhDZvXFzayqWLbMuZmzPqVr2UxY1VO17xuzMJinZ7EzMni3AHJw6nBFJIgdV0apo59mjHJY7ZHJSsKw107rDTiVb9pdmOlBczJ3A/mpOyeFGGMBw9Lj2qdOQ2sewvZ6OMD0RfmUUFAzkpQXbKxA6XCo3atCHjZmFsgkawBw0IGasK7ZAhhrrBQaytsNCiu6m304PBS4lxkk+Qbgsgdc8bouH2UVlIGm4ySZmv4JJNIqclKVjtXU5Ib02SZq3OGoPcoD8QaMjl2rKcmdOKCSJT5c14SIe+sHAhOwuc7QKEmbNxombyQ+QDUqPVRP3SQgThI7Uok3H0GOKn0wvU4nGzUoTUbTMGguosuG31zUilwlvJY7SZvpBIiv2iefVYfBI/S0/so9FhrRwT3mjeQT1l9kbwXoFjycsLbE5lN0exXmjnSNOW7Zw6lpdlGrmAscOYK7ZY00eXHJJOykNdu5pZxJjfWB7hdMuO7cJIeCuK2j03FMJRlrxvMNx/Wo4LpNkKjcWHeZkePI9qL007ZBydxH5K1yQ1X+HGS8F1xB1Tc0JCbIKl8GkUnyC8UoWvN7KNSNliyY429l3pNHZy7kYLT9ElsChR5NXLimNwYuNJGEdbfSHhqPiiMJjkzY4Hs1HaOChGmB4Jl1AL3GRGhGR8VomzFqL/QW83XhCh8U8rOO8P3s/jqn24p7TCOsZhVaJcJEsNSHpDcSiP2gO3JcdUNOjh4odCUZDZN0qOG5A4kpqSqaBqEvDqg729uO6iRYduaUFbKyS1iFK3BYpWbrrg/ZePWYeBB+ir9PLNDLuvA6YaFuUdUwZ7zPZlFgS3W4uL8TFRUvdkMgmHw9IN1+YuCOYI0IPAjmul0eerrkfhqWx1Daxn6mq3IakaBs2kE9r5XJMbutzeAurWHKo+alodvt345AWyt9trhYuFtH21trYEZhGMFc4s3XO3nMsN722n1JP4hrw3g4cE48cGckFiF5rbLjWlKstCT1l1eXUBZxdXrL1kAdXl5eQB5esuryAEOjB1CiT4ZG/VoU6y8gdldqdmWHNuSSKCSMZZqxrxCmhqTKhW1MtrdGUPjcBqCO5Xt8IOoUaXDmHgs5Yr9nRj+RoqopxnZzCehnbzCOz4DG7VoPcoEuy0XC47CQs/DJG38mD7sY6Uc0npBzXpNlT9mV477qP/ZWb793gEaT+heXH9l0c5RamTJTSxMy0oK6WcJQ8Ue1ryDkfmosYHNWzFdnGTCxz+fiqvVbHzx5xSm3sv8ASHjquKeKV2kehizxqmx5lrJBNsxlyKFTx1kXrQ7w5sP0KiOxst9dj2e8028dFHRvGn0yztxa2TxfrGveFLgrI36OHYcj8VR34xG7Rw8Uw7EgOKN2WsSNAlKbBWfPxt7fVeR8vApce10o13XfA/D8kKQ5Y6XZoF1wuVIG2w+0zwIPzTE+3kQ4O+H5qrMtftl4klAQ2rqgFRqnbu/qRPPbYKEceqZcmwnPrP5JNSZScF7LVW4gADmgDsYY2QEnTOwzv3BNw4RVTet6PUFYMH2FeTfdJPMpwgE8qrgaosYc9wIYd0G+eV1aYsckfYBgHyRHDNiQ228rJSYDEz7K6IxkcM8kP9K3Stc7NxPYAjNKwD7Dj3FHYqVrdAAnw3qWqjRzynYOieLW6N9vdulU0AYfQY6zj6QOW7rmL8L8OsnNEQFxzgNSB2pkHLLyYlrom6vHioUm0VK3WZniPzRYUFFyyCu2spBrM3xC5HtdRE285jvy32/K6dhTDS8o1PiML82yNPYfqpIN9M0AeXQuLqAPLq4uA3P9f13IAVfkkSyNaC57g0DUk7oHegmP7Tx05MbLPm9ngy+heR8tVWvN5qk9JO824A6D3WJpfY6LJWbWwMyjDpT+6LN/EfoCoDtoqqT9XC1o5m7vibBMQwRsya255kXPhoEirrmsBMkjWAalxuR2jgjZLpDodNZWHWdreoBv5FcE9TxqXeA/JVSv8oFBHl0r5T/4YyPY5uXxQSfypQD1KOR3vvaPqUt2BpHndSP8QT2sb+SUMWqRxY7tYR8rLKXeVU8MPj/zP/wk/wC1UccPb3S2/wCWlswNZG0cg9eAHrY63wIS/wC1Uf3Mv/B+ayyLypUp9elnZ7kgd8y1SR5S8P5Vf4Y/+tK2Pg3RdsoFXi8MTt18jQeV0huPU5/atVWQESFwsUMYxAdJW+KcbiER0lb4hIYuSladQFBqMCifq1TxVMOkjfEJwSt9oeIQ0mNSa6KpWbEwv4DvaCgtV5OGHRrfl8lo4I5j4L3eoeKLNVnmvZk8vk16iOxx/NMf7MAef4ifqtf3V4MU+GJX8mZkTfJa3iFLh8mMY4Balu9i9u9arxonzyM/pvJ5E37I8EYpdj4W8FZyQOI8Qm31MY1e3xT0iS8s37IVPg8TNGhTmRAaBRJccp2/tAT1ZqJJtM37Eb3d1h8U+EQ7YbDF42GZNvgq1JjNQ/1Q1g8Sor43Ozkkc7vsPgjYKLFUYvCzV4J5DMqDLj7j+rjPa7JDo4QNG/C3zTu4eodqVsODslbO/WQNHJoufH/RMOp7+s57u1xHwFk/0Z5+CYqKmKP15GN954HwJQBwUkY+w3tIB+JTjXNGm6PBDJdpKNv7dh90Od/KCor9tKQaOkPuxP8AqAgOQ90w9oeKS/ddkQ13bYqunbukGom/yj+aVHttQOyMxb78cjR47tkATqnZ2keSTTsa4/bjvE/8cZBUb9E1UPpUldILfsqn++jPV0mUjfEqfRV0E2cMsb/928E/hBUkgjjfqKdgQqLbt0L2xYjCacuO62YHfp3nqlFg09TwFdoJ2vG80gjqVSmDXtLHtDmuFnMeA5rgeBByIQGGGXDHdLTF8lL+0p83ugHF8HFzBxj7xyTTEabIf6/r+skD2oxkwNbFFnNKbM47oJsXH6f6KdQYkyZjZmODmFodcG4sRcEHiCCnW0kb3CVzRvN0Ns+pOxFIoNnxA9z5jvPdY2vf0s7uceKlV+IMjaZJHbrQNTYeHwStosUEbnvILjvbjGDNz3AAWHgVW6jBOltUYjM2NmrIr2aPq93YPBJ2ygNim2k8xMdHG4A5b5Bufdbr4290odHsLW1RDpi48ukOQ91mje4IhiO24gvHh9K1rRkJpWuuesRix/Ee5VTEtpMSn9eqmA9mP+5b2WjAuO26ALlD5MGMF5Zmt+A8XWSX7N4RHlJXxXGo6WK/gCSswmonuO8/ecTqXEuPiU1+j+pIDTpKbAW61gPYXO/ljKaFNgDtKsd++3+aMLNTQFJNCeSANJfs/gzvVrox2yxj+ay8NhMPOYrW/ji/6lmZozySfM+pAH0bVYUHu3nNJPYmhgrfZPgrMVxLVBbK3+hWcvgufoVvX8VZV5GqDZlbGDjm7xcu/ov993iVZFwo1QbMrow933j/AMRSxRP+9f8AiKPLwRqGwCFG/wC9k/EUoUb/AL6T8RRxeRQWBBRv+9f+IrvmJ+8f+Io0VxGoWBxQc3PP8TktuGt9kntufmi7Uoo1QWDo6IDRlvAJ4Qdg+KkBR5k6Ed3W8yf66lCq8Zp4fXkjZ772M/mP0VK8onqHsWW0qANsrNv6Nmk7He6JJP5G2+KBVnlMj0YJ3dbWRRjxe5x/4VnrE+1Aw/WbfvfpTF3+9qJHDvZGGBDHbW1H2aejZ/7JcfF7ym41JiQBHdtbXnSSNnuQU4+bCk/2oxI/4p3cyIfJiLRqXGkAAG02I/8AeHHtigd84063aOtPrMhk9+mi+bGtKsLE6EAVtuJtdnLh8Rd7ULpYHDrFy8fBH8K2m6OwbNUMb7FS0VMfYJGESDwUgLqYFow3HoZ/R3497kHgg9gcA8d7QiYcR+f5rJ9ptGe83+YLUof1bfc+gQIbw+LoJHbhtG+7jGMgH3uS3le+Y0vY8SrLJibWRkkiwF7czyVbl9YJjEdD2D5hDAh4hizKWJ9VIzpHtIY0cA6RwDRc6XJuTyHHJUmu24e5xc6oYx3FrY2vda/EvvYdRPcie2v/AGZP/wCrj/5ayGp/WHtPzKpOhMvrdtP/ADB/ipoHD5JQ22HtwH3qVv8A8HBZ5Ikp7BRpzdrWnhQu7Y52/J66dqYuMFE73ZJm/O6zAcV1iLX0FGosxyndrRQH3aqx8HRpfn1GdaJ38FRA75gLKSpFPqE+PoXJphdQn/CVQ90QP+TwkdDQ/cVn+VH/APYqLT6osE6QrZ//2Q==);
  }

  #three{
    background-image:url("https://twine-stories.s3-us-west-2.amazonaws.com/fringehead.png");
  }

  #four {
    background-image:url("./imgs/exhibition.jpg");
  }

  #home {
      font-size: 30px;
      width: 5%;
  }



  #takeApart-list {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      top: -10px;
      height: 150px;
      padding-left: 100px;
      background-color: #228B22;
      position: relative;
  }

  a {

      font-family: 'Bungee Inline', cursive;

  }

  h1 {
      font-family: 'Bungee Inline', cursive;

  }

  .photo {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      top: -10px;
      height: 800px;
  }

  #takeApart-photo {
      background-image:url(./imgs/take-apart.gif);
  }

  #portrait {
      background-image:url();
  }

  #home-button {
      position: absolute;
      bottom: 0%;
      right: 5%;
      font-size: 50px;
  }

    .journal-section {
      font-family: courier;
      color: darkgrey;
      font-size: 14px;
      padding: 5%;

  }

  .photo {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      top: 0px;
      height: 800px;
  }

 .day3-image{
    width:40%;
    height:400px;
    margin:2%;
  }